body {
    font-family: "Play", sans-serif;
  }

  .countries {
    width: 390px;
    height: 2618px;
    padding: 48px 0 46px;
    background: #ebf8ff;
  }
  
  .container {
    padding: 30px 7px 19px 8px;
    width: 390px;
  }
  .countries-title {
    width: 363px;
    color: #111;
    text-align: center;
    font-size: 32px;
    line-height: 1; /* 32px */
  }
  .countries-container {
  }
  .countries-list {
    margin-bottom: 19px;
  }
  .countries-list-item {
    margin-bottom: 10px;
  }
  
  .countries-list-item:last-child {
    display: none;
  }
  
  .countries-list-item-container {
    display: flex;
  }
  .countries-list-item-container-title {
    padding: 24px 0;
    color: #111;
    text-align: center;
    font-size: 32px;
    line-height: 100%; /* 32px */
  }
  .countries-list-item-container-second {
  }
  .countries-list-item-container-link {
    margin-bottom: auto;
    margin-top: auto;
    padding: 18px 0 12px;
    border-bottom: 2px solid #266294;
  
    color: #266294;
    font-size: 20px;
    font-weight: 400;
    line-height: 1; /* 20px */
    margin-left: auto;
  }
  .countries-list-item-image {
    margin-bottom: 12px;
    width: 375px;
    height: 300px;
    flex-shrink: 0;
  }
  .countries-list-item-text:last-child {
  }
  
  .countries-list-item:last-child {
    margin-bottom: 0;
  }
  
  .countries-list-item-information {
  }
  .countries-list-item-information-title {
    color: #111;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%; /* 19.2px */
  }
  .countries-list-item-information-text {
    color: #111;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
  }
  
  @media (min-width: 834px) {
    .countries{
      width: 834px;
      height: 1478px;
    }
    .countries-container{
      width: 834px;
  height: 1478px;
    }
    .countries-list{
      display: flex;
      flex-wrap: wrap;
      width: 834px;
  height: 434px;
    }
  
  }
  



  
  .advertisements {
    width: 390px;
    height: 2584px;
    font-family: "Play", sans-serif;
    background: #EBF8FF;
    padding: 48px 7px 48px 8px;
    
}
.advertisements-container {
    width: 390px;
    height: 2584px;
}
.advertisements-basket{

}
.advertisements-title {
    padding: 0 24px 25px 25px;
    color: #111;
text-align: center;
font-size: 32px;
line-height: 3.1px; /* 32px */
}
.advertisements-link {
    padding: 36px 0 24px 140px;
    margin: auto;
    color:  #266294;
text-align: center;
font-size: 20px;
font-weight: 400;
line-height: 5.0px; /* 20px */
}
.advertisements-list-box-item {
    margin-top: 36px;

}
.advertisements-list-box-item:last-child{
    margin-bottom: 48px;
}
.advertisements-list-box-item-image {
    margin-bottom: 12px;
}
.advertisements-list-box-item-title {
    margin-bottom: 8px;
    color: #111;
font-size: 16px;
line-height: 100%; /* 16px */
}
.advertisements-list-box-item-text {
    margin-bottom: 8px;
    color:  #766F6F;
font-size: 16px;
font-weight: 400;
line-height: 6.2px; /* 16px */
}
.advertisements-list-box-item-container {
    display: flex;
    margin-bottom: 14px;
    gap: 8px;
}
.advertisements-list-box-item-container-icon {
    width: 14px;
height: 14px;
stroke-width: 1px;
stroke:  #266294;
margin-top: 8px;
}
.advertisements-list-box-item-container-figures {
    color: #266294;
font-size: 14px;
font-weight: 400;
line-height: 7.1px; /* 14px */
margin-top: 8px;
}




@media (min-width: 834px){
.advertisements{
    width: 834px;
    height: 1310px;
}
.advertisements-basket{
}
.advertisements-container{
    width: 770px;
}
.advertisements-list{
    display: flex;
    flex-wrap: wrap;
}
.advertisements-container{
    margin: 0 auto;
width: 834px;
height: 1310px;
}
.advertisements-title{
    text-align: start;
    
}
.advertisements-link{
    
    padding: 46px 32px 36px 481px;
    
    
}
.advertisements-list-box-item{
    /* margin-top: 24px; */
    width: 416px;
    margin-bottom: 0;

}
.advertisements-list-box-item-image{
margin: auto;
}
.advertisements-list-box:last-child{
    
}
.advertisements-list-box-item{
    
}
}